---
import Layout from "../components/Layout.astro";
---

<Layout>
  <main class="w-full h-screen flex justify-center items-center">
    <div class="prose text-4xl">
      <h1 class="font-sans font-extrabold">Hi, I'm Skyler</h1>
      <p class="translate-y-[-1.5em] font-semibold">Nice to meet you!</p>
      <p class="text-lg">
        This site is currently under development, please check back later for
        actual information!
      </p>
    </div>
  </main>
</Layout>
