---
import Layout from "../components/GlobalLayout.astro";
---

<Layout>
  <main class="h-[80%] flex-1 flex items-center justify-center">
    <div class="prose text-4xl p-2 text-center">
      <h1 class="font-sans font-extrabold">Hi, I'm <span class="text-accent">Skyler</span></h1>
      <p class="translate-y-[-1.5em] font-semibold">Nice to meet you!</p>
      <p class="text-lg">
        This site is currently under development, please check back later for
        actual information!
      </p>
    </div>
  </main>
</Layout>
