<!doctype html>
<html lang="en" class="w-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skyler Arnold</title>
  </head>
  <body class="w-full">
    <slot />
  </body>
</html>
